@use '_vars' as v;
@use '_media';

.card {
    background-color: v.$secondary-bg;
    padding: 1.2rem;
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > * {
        margin-bottom: 1.5rem;
    }
}

.date .fa-calendar-day {
    color: v.$main-blue;
}

.card:nth-of-type(odd) {
    flex-grow: 1.5;
}
.card:nth-of-type(2) {
    flex-grow: 2;
    margin: 0 1.5rem;
}

.task-counter {
    p {
        color: gray;
        font-size: .7rem;
    }
    span {
        color: v.$main-text-color;
        font-size: 2rem;
        font-weight: bold;
    }
}


.task-box {
    padding: .9rem;
    color: v.$primary-bg;
    border-radius: .9rem;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .fa {
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
    }
    p {
        font-size: .5rem;
    }
    span.big-black {
      display: block;
      font-weight: 900;
      font-size: 1.5rem;
      color: black;
    }
  }

#yellow {
    background-color: v.$main-yellow;
    margin-right: 1.2rem;
}
#blue {
    background-color: v.$main-blue;
    margin-right: 1.2rem;
}
#orange {
    background-color: v.$main-orange;
}