@use '_vars' as v;

.card {
    background-color: v.$secondary-bg;
    padding: 1.2rem;
    border-radius: .9rem;
    > * {
        margin-bottom: 1.5rem;
    }
}

.task-box {
    padding: .9rem;
    color: v.$primary-bg;
    border-radius: .9rem;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        font-size: .5rem;
    }
    span.big-black {
      display: block;
      font-weight: 900;
      color: black;
    }
  }

#yellow {
    background-color: v.$main-yellow;
}
#blue {
    background-color: v.$main-blue;
}
#orange {
    background-color: v.$main-orange;
}