@use '_vars' as v;

.column { display: flex;
flex-direction: column; }

.sidebar  {
    @extend .column ;
    background-color: v.$secondary-bg ;
}
.navbar {
    @extend .column ;
}
.teams {
    @extend .column ;
}
.navbar {
    a {
        display: flex;
        img {
            padding-right: 1em;
        }
    }
}