@use '_vars' as v;

.scrolling-table {
  width: 100%;
  overflow: auto;
}
.scrolling-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: gray;
  border-radius: 0.5rem;
  visibility: hidden;
}
.scrolling-table:hover::-webkit-scrollbar {
  visibility: visible;
}
table {
    width: 100%;
    min-width: 1000px;
    
    th, td {
      border-bottom: 1px solid v.$secondary-bg; 
      border-collapse: collapse;
      padding: .9rem;
      font-size: .7rem;
    }
    th {
      text-align: left;
    }
    th:nth-of-type(4), td:nth-of-type(4) {
      text-align: right;
    }
    td:first-of-type {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  tbody {
    overflow: auto;
  }

  td {
    .prof-small {
      margin-right: .5rem;
    }
  }

  tr:hover {
    background-color: v.$secondary-bg;
  }

  .status {
    font-size: .7rem;
    padding: 0 .9rem;
    border-radius: 20px;
  }

  .progress {
    color: v.$main-orange;
    background-color: #f6560680;
  }
  .review {
    color: v.$main-yellow;
    background-color: #e2ea4680;
  }
  .done {
    color: v.$main-blue;
    background-color: #36bcba80;
  }