@use 'sidebar.scss';
@use '_card';
@use '_vars' as v;

@mixin spaceBetween() {
  display: flex;
  justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
* {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

html {
    color: v.$main-text-color;
  }

  .small-gray {
    color: gray;
    font-size: .8rem;
  }

  .sidebar {
    padding: 3rem 4.5rem 3rem 3rem;
    @include spaceBetween;
    flex-direction: column;
    }

    .navbar > *, .teams > * {
      margin-bottom: .95rem;
    }
  

 a {
  text-decoration: none;
  color: v.$main-text-color;
 }

main {
  background-color: v.$primary-bg;
  display: flex;
}

.display {
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  > * {
    margin-bottom: 2rem;
  } 
}

.info-cards, .task-container, .card-header {
  @include spaceBetween;
}

.task-box {
  padding: 1.5rem;
  text-align: center;
  color: v.$primary-bg;
  border-radius: .9rem;
  span.big-black {
    display: block;
    font-weight: 900;
    color: black;
  }
}

table {
  width: 100%;
  th, td {
    border-bottom: 1px solid v.$secondary-bg; 
    border-collapse: collapse;
  }
  th {
    text-align: left;
  }
  td:nth-of-type(4) {
    text-align: right;
  }
}



