@use 'sidebar.scss';
@use '_card';
@use '_vars' as v;
@use '_table';

@mixin spaceBetween() {
  display: flex;
  justify-content: space-between;
}
@mixin medProfPic() {
  height: 2.5rem;
  width: 2.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
* {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    color: v.$main-text-color;
  }

  header, .info-cards, .task-container, .card-header {
    @include spaceBetween;
  }
  

  .small-gray {
    color: gray;
    font-size: .8rem;
  }

  .sidebar {
    @include spaceBetween;
    flex-direction: column;
    }

    .navbar > *, .teams > * {
      margin-bottom: .95rem;
    }
  
    span.hide {
      font-size: 0.7rem;
    }

 a {
  text-decoration: none;
  color: v.$main-text-color;
 }

 .header-icon { 
    background-color: v.$secondary-bg;
 }
 .header-icon:hover {
  cursor: pointer;
 }

 header {
  div:nth-of-type(2) {
    width: 12%;
    @include spaceBetween;
    align-items: center;
    .fa {
      padding: .5rem;
      border-radius: 2px;
    }
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
 }

main {
  background-color: v.$primary-bg;
  display: flex;
}

.lightmode {
    background-color: v.$primarylight-bg;
    color: v.$light-text-color;
}
.lightmode2 {
    background-color: rgb(156, 156, 156);
    color: v.$light-text-color;
}
.lightmode3 {
    background-color: rgb(156, 156, 156);
 }

.display {
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  > * {
    margin-bottom: 2rem;
  } 
}

/*Profile pictures*/

.participants {
  border: 1px solid gray;
  height: 2.5em;
  border-radius: 30px;
  @include spaceBetween;
  align-items: center;
  padding: 0 .3rem;
}
.prof-small {
  height: 2em;
  width: 2em;
  border: 1px solid gray;
  border-radius: 50%;
}
.second {
  position: relative;
  left: -10px;
}
.third {
  position: relative;
  left: -20px;
}

.prof-img {
  object-fit: cover;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.user-prof-pic {
  @include medProfPic;
  border: 1px solid gray;
  border-radius: 50%;
 }

 .user-prof-img {
  object-fit: cover;
  @include medProfPic;
  border-radius: 50%;
 }

.c-parent {
  display: flex;
}



.list-style {
  margin-top: 4rem;
}


.logo {
    display: flex;
     h3 {
        font-size: 1.5em;
     }
}


@media screen and (max-width: 1300px) {
  .navbar, .teams {
    .fa {
      margin-right: 0;
    }
  }
  .teams {
    align-items: center;
  }

  .sidebar {
    align-items: center;
  }
  
  span.hide {
    display: none;
  }

  .info-cards {
      justify-content: center;
  }

  .card:nth-of-type(odd) {
      flex-grow: 0;
  }
  .card:nth-of-type(2) {
      flex-grow: 0;
  }
  .card:nth-of-type(3) {
    flex-grow: 0;
}


}

@media screen and (max-width: 1234px) {
  .sidebar {
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    .logo, .navbar, .teams {
      margin-bottom: 2rem;
    }
  }

  .card:nth-of-type(3) {
    margin-top: 1.3rem;
  }

}

@media screen and (max-width: 928px) {
  .card:first-of-type {
    margin-bottom: 1.3rem;
  }
}



