@use 'sidebar.scss';
@use '_card';
@use '_vars' as v;

@mixin spaceBetween() {
  display: flex;
  justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
* {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

html {
    color: v.$main-text-color;
  }

  .small-gray {
    color: gray;
    font-size: .8rem;
  }

  .sidebar {
    padding: 3rem 3.5rem 3rem 3rem;
    @include spaceBetween;
    flex-direction: column;
    }

    .navbar > *, .teams > * {
      margin-bottom: .95rem;
      font-size: .8rem;
    }
  

 a {
  text-decoration: none;
  color: v.$main-text-color;
 }

main {
  background-color: v.$primary-bg;
  display: flex;
}

.display {
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  > * {
    margin-bottom: 2rem;
  } 
}

.info-cards, .task-container, .card-header {
  @include spaceBetween;
}

.task-box {
  padding: .9rem;
  color: v.$primary-bg;
  border-radius: .9rem;
  width: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
      font-size: .5rem;
  }
  span.big-black {
    display: block;
    font-weight: 900;
    color: black;
  }
}

.list-style {
  margin-top: 4rem;
}

table {
  width: 100%;
  th, td {
    border-bottom: 1px solid v.$secondary-bg; 
    border-collapse: collapse;
    font-size: .7rem;
    padding: .9rem;
  }
  th {
    text-align: left;
  }
  th:nth-of-type(4), td:nth-of-type(4) {
    text-align: right;
  }
}



